NODE_ENV=xxxxxx

PORT=xxxxxx

JWT_SECRET=xxxxxx

MONGO_HOST=xxxxxx

MONGO_PORT=xxxxxx

MONGO_HOST_TEST=xxxxxx

JWT_EXPIRATION_INTERVAL=xxxxxx

SECURE_COOKIE_NAME=xxxxxx

CLIENT_SIDE_URL=xxxxxx

HASHING_SALT=xxxxxx
